*{
   margin:0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #2A428C;
    color:#fff;
    /* background: #fff;
    color:#080808; */
    
}
#header{
    width:100%;
    height:100vh;
    /* background-image: url("Images/bg.png"); */
     background-size: cover;
    background-position:right;
    background-repeat: no-repeat, repeat;
}
.container{
    padding: 10px 10%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo{
    width: 140px;
    position:relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight:600;
    background: linear-gradient(45deg,hwb(73 0% 0%), cyan,#ff004f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}


nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px, 20px;
}
 nav ul li a{
    display: inline-block;
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    /* position:relative; */
    margin:20px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
nav ul li a.active,nav ul li a:hover{
    background: linear-gradient(45deg,#ff004f, #3cf,#ff004f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

  
nav ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff004f;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  nav ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* .header-text{
    margin-top: 10%;
    font-size:30px;
  }
  .header-text h1{
    font-size:50px;
    margin-top: 20px;
  }
  .header-text h1 span{
    color:rgb(51, 180, 119);
  } */
  
.home{
    position:relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #232E64;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    padding: 70px 10%;
}
.home:after {
    content: "";
    position: absolute;
    inset: -.625em;
    background: linear-gradient(to bottom right,
        #3cf, #ff004f);
    filter: blur(2.5em);
    z-index: -1;
}
.home-content{
    max-width:500px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight .3s ease forwards;
    animation-delay: .7s;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin:-3px 0;
    line-height: 1.2;
    opacity: 0;
    animation: slideLeft .3s ease forwards;
    animation-delay: .7s;
}
.home-content p{
    font-size: 20px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideLeft .3s ease forwards;
    animation-delay: 1.3s;
}
.home-img{
    width:410px;
    height:410px;
    opacity: 0;
    animation: zoomIn .1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2.1s , 3.1s;
}
.home-img .glowing-circle{
    position: relative;
    width:100%;
    height:100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img .glowing-circle:after{
    content:'';
    position: absolute;
    width:380px;
    height:380px;
    background: #232E64;
    border-radius: 50%;
}
.glowing-circle span{
    position:absolute;
    width:100%;
    height:100%;
    background: linear-gradient(45deg,#ff004f, #3cf,#ff004f);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}
.glowing-circle span:nth-child(1){
    filter: blur(20px);
}
.glowing-circle .image{
    position: relative;
    width:380px;
    height:380px;
    border-radius:50%;
    z-index: 1;
    overflow:hidden;
}
.image img{
    position:absolute;
    top:30px;
    left:50%;
    transform:translate(-50%);
    max-width: 350px;
    object-fit: cover;
}
.btn1{
    display:inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width:180px;
    height:48px;
    /* background:yellowgreen; */
    background: linear-gradient(45deg,#ff004f, #3cf,#ff004f);
    border-radius: 40px;
    font-size: 19px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    opacity: 0;
    animation: slideTop .3s ease forwards;
    animation-delay: 1.8s;
}
.btn1:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    inset:0;
    background: linear-gradient(45deg,#ff004f, #3cf,#ff004f);
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    background-position: 0 0;
    filter:blur(5px);
    transition:.5s ease;
}
.btn1:hover:before{
    background-position:100% 0;
}
.btn1:after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    inset:0;
    background: linear-gradient(45deg,#ff004f, #3cf,
    #ff004f);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition:.5s ease;
}
.btn1:hover:after{
    background-position:100% 0;
}
  /*----about-----*/
#about{
    padding:80px 0;
    color: #ababab;
    margin-top: 100px;
}
.row{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.about-col-1{
    flex-basis:35%;
}
.about-col-1 img{
    width:300px;
    height: 500px;
    border-radius:15px;
}
.about-col-2{
    flex-basis:60%;
}
.sub-title{
    font-size:60px;
    font-weight:600;
    color:#fff;
}
.tab-titles{
    display:flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    position:relative;
}
.tab-links:after{
    content:'';
    width:0;
    height:3px;
    position:absolute;
    background: #ff004f;
    left:0;
    bottom:-8px;
    transition: 0.5s;
}
.tab-links.active-link:after{
    width:50%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0;
}
.tab-contents ul li span{
    color:#b54769;
    font-size: 14px;
}
.tab-contents {
    display:none;

}
.tab-contents.active-tab{
    display:block;
}
/* -------services----------- */
#services{
    padding:30px 0;
}
.services-list{
    /* position: relative; */
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}


.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
}
.services-list div a{
    text-decoration: none;
    color:#fff;
    font-size: 12px;
    margin-top: 20px;
    display:inline-block;
    background: linear-gradient(to bottom right,
    #3cf, #ff004f);
    border-radius: 40px;
    padding: 12px 28px;
    opacity:0;
    animation: slideTop 1s ease forwards;
    animation-delay: .5s;
    box-shadow: 0 0 5px #3cf,
    0 0 25px #3cf;
}
.services-list div a:hover{
    box-shadow:  0 0 5px #3cf,
    0 0 25px #3cf;
}
.services-list div:hover{
    /* background: #606ECD; */
    transform:translateY(-10px) ;
}
/* ----------Skills----- */
section{
    display:flex;
    flex-wrap: wrap;
}
.container1{
    width:600px;
    height:500px;
    padding:75px 90px;
    margin-left:120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar{
    font-size: 23px;
}
.technical-bars .bar{
    margin:10px 0;
}
.technical-bars .bar:first-child{
    margin-top: 0;
}
.technical-bars .bar:last-child{
    margin-bottom: 0;
}
.technical-bars .bar .info{
    margin-bottom: 5px;
}
.technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText .5s 1s linear forwards;
    opacity:0;
}
.technical-bars .bar .progress-line{
    position:relative;
    border-radius:10px;
    width:100%;
    height:5px;
    background-color: #69c11b;
    animation:animate 1s cubic-bezier(0.1, 0.7, 1.0, 0.1) forwards;
    transform:scaleX(0);
    transform-origin:left; 
}
.technical-bars .bar .progress-line span{
    height:100%;
    background-color: #3cf;
    position: absolute;
    border-radius: 10px;
    animation:animate 1s cubic-bezier(0.1, 0.7, 1.0, 0.1) forwards;
    transform:scaleX(0);
    transform-origin:left; 
}
.progress-line.html span{
    width:90%;
}
.progress-line.css span{
    width:85%;
}
.progress-line.javascript span{
    width:85%;
}
.progress-line.react span{
    width:75%;
}
.progress-line.mysql span{
    width:85%;
}
.progress-line span:after{
    position: absolute;
    padding: 1px 8px;
    background-color: #69c11b;
    color:#fff;
    font-size: 12px;
    border-radius: 3px;
    top:-28px;
    right:-20px;
    animation:showText .5s 1.5s linear forwards;
    opacity:0;
}
/* .progress-line.html span:after{
    content:"90%";
}
.progress-line.css span:after{
    content:"85%";
}
.progress-line.javascript span:after{
    content:"85%";
}
.progress-line.react span:after{
    content:"75%";
}
.progress-line.mysql span:after{
    content:"85%";
} */
.progress-line span:before{
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #606ECD;
    top:-10px;
    right:0;
    animation:showText .5s 1.5s linear forwards;
    opacity: 0;
}
.radial-bars{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width:50%;
    height:170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width:120px;
    height:160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width:10;
    stroke:#232E64;
    fill:transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap:round;
    animation:animate-bar 1s linear forwards;
}
.path{
    stroke-width: 10;
    stroke:#3cf;
    fill:transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap:round;
}
.path-1{
    animation: animate-path1 1s 1s linear forwards
}
.path-2{
    animation: animate-path2 1s 1s linear forwards
}
.path-3{
    animation: animate-path3 1s 1s linear forwards
}
.path-4{
    animation: animate-path4 1s 1s linear forwards
}
.radial-bar .percentage{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity:0;

}
.radial-bar .text{
    width:100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation:showText 0.5s 1s linear forwards;
    opacity:0;
}

/* ------portfolio----- */
#portfolio{
    padding:50px 0;
}
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius:10px;
    position:relative;
    overflow:hidden;

}
.work img{
    width:100%;
    border-radius:10px;
    display:block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    height:0%;
    background: linear-gradient(rgba(0,0,0,0.6), #606ECD);
    border-radius:10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top:20px;
    color:#606ECD;
    text-decoration:none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width:60px;
    height:60px;
    border-radius:50%;
    text-align:center;
}
.work:hover img{
    transform:scale(1.1);
}
.work:hover .layer{
    height:100%;
}
.btn{
    display:block;
    margin:50px auto;
    width: fit-content;
    border:1px solid #606ECD;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:#fff;
    transition: background 0.5s;
}
.btn:hover{
    background: linear-gradient(to bottom right,
    #3cf, #ff004f);;
}
/* -----contact------ */
.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;
    
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color:#b54769;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}


.contact-right form{
    width:100%;
}
form input, form textarea{
    width:100%;
    border:0;
    outline:none;
    background: #232E64;
    padding:15px;
    margin:15px 0;
    color:#fff;
    font: size 18px;
    border-radius:6px;
}
form .btn2{
    padding:14px 60px;
    font-size:18px;
    margin-top:20px;
    cursor:pointer;
}
.copyright{
    width:100%;
    text-align:center;
    padding:25px 0;
    background:#232E64;
    font-weight: 300;
    margin-top: 100px;
}






























